.product-hero {
  background: #e8e8e8;
  .section {
    padding: 0;
  }
  .image img {
    margin: 0 auto;
    max-width: 40%;
  }
  .subtitle:not(:last-child) {
    margin-bottom: 0.5%;
  }
  .title:not(:last-child) {
    margin-bottom: 1rem;
  }
  .selected-item {
    text-decoration: underline;
  }
  .button.is-text {
    padding: 0.25em;
    text-decoration: none;
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
